html,
body {
  height: 100%;
  margin: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;

  color: white;

  background: rgb(51, 45, 45);
  opacity: 0.8;
}

.logo_size a {
  text-decoration: none;
  color: white;
}

.logo_size a:hover {
  color: white;
}

/*
.logos section,
.logos section p {
  font-size: 4rem;
  color: aliceblue;
  font-family: "Nanum Myeongjo", serif;
}

*/

.logos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 30px;
  height: 640px;
}

.icon_font {
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.logo_name {
  margin-left: 10px;
}
.logo_size {
  /* width: 60px; */
}
.start_button {
  width: 30px;
  margin-right: 10px;
  margin-left: 10px;
}
.search_style {
  background-color: white;
}
.rocket_icons {
  color: rgb(240, 234, 234);
  padding-top: 3px;
}
.clock_style {
  padding-right: 15px;
  text-align: right;
  font-size: large;
}

.profile_style {
  color: #be4bdb;
}

.profile_center {
  margin-left: 3px;
}

.project_style {
  color: #eed029;
  margin-left: 5px;
}

.tools_style {
  color: #e96228;
  margin-left: 10px;
}

.tools_center {
  margin-left: 8px;
}

.email_style {
  margin-left: 6px;
  color: white;
}

.md-60 {
  font-size: 60px;
}

.InputAddOn {
  display: flex;
}

.InputAddOn-field {
  flex: 1;
  /* field styles */
}

.InputAddOn-field {
  border: 1px solid rgba(173, 172, 172, 0.199);

  padding: 0.5em 0.75em;

  padding-left: 8px;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.InputAddOn-item {
  padding: 0.5em 0.75em;

  padding-left: 8px;

  background-color: rgb(255, 255, 255);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  background-color: #ebebebf6;
  color: #666666;
  font: inherit;
  font-weight: normal;
}
.footer_div {
  display: flex;
  justify-content: space-between;
}
.footer1 {
  display: flex;
}

@media screen and (max-width: 768px) {
  .logos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    margin-left: 0;
    height: 90%;
    padding-left: 0;
  }

  .InputAddOn-field,
  .InputAddOn-item {
    height: 40px;
  }
  .InputAddOn-field {
    width: 30vw;
  }
}
