.tool_icon_arrange {
  display: flex;
  justify-content: space-between;
}

.tools_space {
  background-color: ghostwhite;
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  /* height: 91vh; */
  height: 90%;
}

.tools_header {
  display: flex;
  justify-content: space-between;
  background-color: #ebebebf6;
  height: 30px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.tools_title {
  padding-top: 3px;
  padding-left: 10px;
}

.tools_icons {
  display: flex;
  justify-content: space-around;
  padding: 0 10px 0 10px;
}

.tools_icons i {
  margin-right: 10px;
}

.tools_icons_height {
  padding-top: 6px;
}

.tools_icons a {
  text-decoration: none;
  color: black;
  padding-top: 2px;
}

.tools_body {
  width: 100%;
  background-color: ghostwhite;
  margin-top: 10vh;
}

.img_position {
  background-color: ghostwhite;
}

.img_position img {
  width: 100%;
}

h1 {
  text-align: center;
  margin-bottom: 0;
}

.chat {
  /* margin-left: 50px;
  margin-right: 30px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.chat img {
  margin-top: 3px;
}

.dots {
  margin-top: 20px;
  text-align: center;
}

.dots i {
  font-size: 30px;
}

@media screen and (max-width: 640px) {
  .chat img {
    width: 80%;
  }
  .back_to_main {
    margin-top: 3em;
    text-align: center;
  }
}

@media screen and (min-width: 640px) {
  .back_to_main {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .logos {
    display: none;
  }
  .tools_space {
    width: 100%;
  }
  .dots {
    display: none;
  }
}
@media screen and (min-width: 930px) {
  .chat {
    display: none;
  }
}

@media screen and (min-width: 1140px) {
  .tools_body {
    margin-top: 0.1px;
  }
  .chat {
    display: none;
  }
  h1 {
    margin-top: 1em;
  }
  .dots {
    display: none;
  }
}
@media screen and (max-width: 930px) {
  .tools_body {
    margin-top: 0.1px;
  }
  .tools_height {
    margin-top: 50px;
  }
  .dots {
    display: none;
  }
}
@media screen and (min-width: 1170px) {
  /* .tools_body {
    margin-top: 10vh;
  } */
  .chat {
    display: none;
  }
  .dots {
    display: none;
  }
}
@media screen and (min-width: 1320px) {
  .tools_body {
    margin-top: 3%;
  }
  .chat {
    display: none;
  }
  .dots {
    display: none;
  }
  h1 {
    display: none;
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: black;
  background-color: #9b9b9b;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}
