body {
  text-align: center;
}

.contact_title {
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Black Han Sans", sans-serif;
}

.contact_arrange {
  width: 100%;
  background-color: #fff5ee;
  margin-top: 25vh;
}

.contact_input {
  overflow: hidden;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

.InputAddOn {
  display: flex;
  margin-bottom: 1.5em;
  justify-content: center;
}

.InputAddOn-field:not(:first-child) {
  border-left: 0;
}
.InputAddOn-field:not(:last-child) {
  border-right: 0;
}

.InputAddOn-item {
  background-color: #ebebebf6;
  color: #666666;
  font: inherit;
  font-weight: normal;
}

.InputAddOn-field,
.InputAddOn-item {
  border: 1px solid rgba(173, 172, 172, 0.199);
  padding: 0.5em 0.75em;

  padding-left: 8px;
}
input:focus {
  outline: none;
}

.InputAddOn-field:first-child,
.InputAddOn-item:first-child {
  border-radius: 25px 0 0 25px;
  width: 50%;
}
.InputAddOn-field:last-child,
.InputAddOn-item:last-child {
  border-radius: 0 25px 25px 0;
}

.sns_logos {
  position: sticky;
  left: 0;
  bottom: 0;
  margin-top: 30vh;
}
.sns_logos img {
  width: 35px;
  height: 35px;
  margin-left: 5px;
}

#floating {
  animation: ani 1s infinite alternate;
}
@keyframes ani {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 10px);
  }
}
